.header {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  height: 64px;
  z-index: 2;
  width: 100vw;
  max-width: 100%;
  box-shadow: 0 5px 20px rgb(60, 60, 60, 0.25);
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}
.header-navigation__logo {
  display: block;
}
.header-navigation__item {
  color: black;
  font-weight: 900;
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  transition: color ease-out 0.3s;
}
.header-navigation__item:hover {
  color: rgb(60, 60, 60, 0.8);
}
